name: example
description: Example app for form_builder_validators
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.0.0+1

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_form_builder: ^9.4.1
  form_builder_validators:
    path: ../

dev_dependencies:
  flutter_lints: ">=5.0.0 <6.0.0"
  flutter_test:
    sdk: flutter
  
flutter:
  uses-material-design: true
  generate: true