name: CI & CD

on:
  workflow_dispatch:

  push:
    branches: [main]
    tags:
      - "[0-9]+.[0-9]+.[0-9]+*"

  pull_request:
    branches: [main]

# This ensures that previous jobs for the PR are canceled when PR is updated
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build package & run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1 # Use shallow clone for faster checkout
      - name: Check broken links
        uses: JustinBeckwith/linkinator-action@v1
        with:
          paths: "**/*.md"
      - name: Setup Flutter
        uses: kuhnroyal/flutter-fvm-config-action/setup@v3
        with:
          path: '.fvmrc'
          flavor: 'stable'
      - name: Install dependencies
        run: dart pub get
      - name: Run l10n
        run: flutter gen-l10n
      - name: Run l10n on example
        run: flutter gen-l10n
        working-directory: example
      - name: Format code
        run: dart format --set-exit-if-changed $(find . -name "*.dart" ! \( -wholename "./lib/localization/intl/*" -or -wholename "./example/lib/localization/intl/*" \))
      - name: Analyze static code
        run: dart analyze
      - name: Run tests
        run: flutter test --no-pub --coverage
      - name: Check publish warnings
        run: dart pub publish --dry-run
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: coverage/lcov.info
          flags: unittests
          name: form_builder_validators

  example:
    name: Build example app
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1 # Use shallow clone for faster checkout
      - name: Setup Flutter
        uses: kuhnroyal/flutter-fvm-config-action/setup@v3
        with:
          path: '.fvmrc'
          flavor: 'stable'
      - name: Install dependencies
        run: dart pub get
      - name: Run l10n
        run: flutter gen-l10n
      - name: Run l10n on example
        run: flutter gen-l10n
        working-directory: example
      - name: Build example
        run: flutter build appbundle --debug
        working-directory: example

  deployment:
    if: ${{ github.ref_type == 'tag' }}
    uses: flutter-form-builder-ecosystem/.github/.github/workflows/deployment.yaml@main
    permissions:
      id-token: write
    needs: [build, example]
